<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">FindingFido</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" [routerLink]="['/profile']">Profile</button>
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="authService.logout()">Log Out</button>
    </form>
  </div>
</nav>

<div class="row" id='PersonDashboard'>
  <div class="col-sm-4">
    <h3>Upload Pictures of your pet!</h3>
    <div style='padding-bottom:20px; padding-top:20px'>
      <input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
      <button type="button" (click)="upload()">Upload</button>
    </div>
    <h3>Your Pet's Pictures</h3>
    <ul *ngFor="let photo of photos">
      <div style='padding-bottom:10px; padding-top:10px'>
        <img src={{photo.url}} style="width:200px;height:200px;">
        <p>id: {{photo.id}}</p>
      </div>
    </ul>
  </div>
  <div class="col-sm-8">
    <div class="panel-body" *ngIf='comingactivities'>
      <h3>Hello {{user.name}} ! Here are your upcoming activities!</h3>
      <ul *ngFor="let activity of comingactivities">
        <div style='padding-bottom:10px; color:white'>
          <p>Location: {{activity.location}}</p>
          <p>Time: {{activity.time}}</p>
          <p>Email of the person: {{activity.email_user}}</p>
        </div>
      </ul>
    </div>
    <div class="row">
      <div>
        <button type="button" class="btn btn-outline-primary btn-lg" (click)="onSelectFriend()">Find a new friend to play with</button>
      </div>
      <div>
        <button type="button" class="btn btn-outline-success btn-lg" (click)="onSelectPet()">Find someone to play with your pet</button>
        <div class="col-md-10" *ngIf="pet">
          <div class="form-group row">
            <label for="example-datetime-local-input">Date and time</label>
            <div class="col-10">
              <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input" [(ngModel)]="time"
                name="time">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Date</label>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input" [(ngModel)]="date" name="date">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-time-input" class="col-2 col-form-label">Time</label>
            <div class="col-10">
              <input class="form-control" type="time" value="13:45:00" id="example-time-input">
            </div>
          </div>
          <form>
            <div class="form-group">
              <label for="extra">Give us a pickup place</label>
              <textarea class="form-control" id="extra" rows="3" [(ngModel)]="location" name="location"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSelect()">Submit!</button>
          </form>
          <p *ngIf="personNeeded">We will come back to you shortly with a match!</p>
        </div>
      </div>
    </div>
  </div>
</div>