<div>
  
  <div class="col-md-6 pet-signup">
      <img src="assets/logo.png" alt="Logo" id='logo' width="300px" height="200px">
    <form>
      <div class="form-group">
        <label for="pet-kind">What kind of pet do you have?</label>
        <select class="form-control" id="pet-kind" [(ngModel)]="kind" name="kind">
          <option>Cat</option>
          <option>Dog</option>
          <option>Ferret</option>
          <option>Rabbit</option>
          <option>Hamster</option>
          <option>Turtle</option>
          <option>Lizard</option>
          <option>Snake</option>
          <option>Camel</option>
          <option>Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">What is their name?</label>
        <input type="pet-name" class="form-control" id="pet-name" placeholder="Enter your pet's name" [(ngModel)]="name" name="name">
      </div>
      <div class="form-group">
        <label for="place">What is their favorite place?</label>
        <input type="place" class="form-control" id="place" placeholder="favorite place..." [(ngModel)]="place" name="place">
      </div>
      <div class="form-group">
        <label for="extra">What is your pet like</label>
        <textarea class="form-control" id="pet-info" rows="3" [(ngModel)]="characteristics" name="characteristics"></textarea>
      </div>
      <button type="submit" class="btn btn-primary done-pet-button" (click)="onSelect()">I'm done!</button>
    </form>
  </div>
</div>