<h1 id='welcome'>{{title}}</h1>

<nav>
  <a routerLink="/dashboard" routerLinkActive="active" *ngIf="authService.isAuthenticated()">Dashboard</a>
  <a routerLink="/schedule" routerLinkActive="active" *ngIf="authService.isAuthenticated()">Schedule</a>
  <a routerLink="/login" routerLinkActive="active" >Login</a>
  <a routerLink="/person-signup" routerLinkActive="active" *ngIf="authService.isAuthenticated()">PersonSignUp</a>
  <a routerLink="/pet-signup" routerLinkActive="active" *ngIf="authService.isAuthenticated()">PetSignUp</a>
  <a routerLink="/pet-dashboard" routerLinkActive="active" *ngIf="authService.isAuthenticated()">PetDashboard</a>
  <a routerLink="/person-boolean" routerLinkActive="active" *ngIf="authService.isAuthenticated()">PersonBoolean</a>
  <a routerLink="/pet-boolean" routerLinkActive="active" *ngIf="authService.isAuthenticated()">PetBoolean</a>
  <a routerLink="/review" routerLinkActive="active" *ngIf="authService.isAuthenticated()">Review</a>
  <a routerLink="/chat" routerLinkActive="active" *ngIf="authService.isAuthenticated()">Chat</a>
  <a routerLink="/profile" routerLinkActive="active" *ngIf="authService.isAuthenticated()">Profile</a>
</nav>
<router-outlet></router-outlet>