<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">FindingFido</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" [routerLink]="['/profile']">Profile</button>
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="authService.logout()">Log Out</button>
    </form>
  </div>
</nav>
<div class="row">
  <div class="col-sm-4">
  <ul *ngFor="let photo of photos">
    <div style='padding-bottom:10px; padding-top:10px'>
      <img src={{photo.url}}>
      <p>id: {{photo.id}}</p>
    </div>
  </ul>
  </div>
  <div class="col-sm-4" style='color:white'>
    <h3>Pet Information</h3>
    <div *ngIf="pet">
      <h4>Name: {{pet.name}}</h4>
      <h4>Kind: {{pet.kind}}</h4>
      <h4>Characteristics: {{pet.characteristics}}</h4>
    </div>
      <button type="submit" class="btn btn-outline-success btn-lg" (click)="onPictures()">See Pictures and More!</button>
        <div class="panel-body" *ngIf='activities'>
          <h3>I am available at the following times!</h3>
          <ul *ngFor="let activity of activities">
            <div style='padding-bottom:10px; padding-top:10px'>
              <p>Location: {{activity.location}}</p>
              <p>Time: {{activity.time}}</p>
              <p>Email of the person: {{activity.email_user}}</p>
              <button class="btn btn-outline-success my-2 my-sm-0" (click)="onTaking()">Take it!</button>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <h3>Ratings</h3>
        <p>Pet Rating</p>
        <p>User Rating</p>
        <button type="submit" class="btn btn-primary" (click)="onSelect()">Request to Connect</button>
        <button type="submit" class="btn btn-info" (click)="goBack()">Go Back</button>
      </div>
    </div>