<div class="col-md-6">
  <form>
    <div class="form-group">
      <label for="pet-kind">When do you want to play with a pet?</label>
      <select class="form-control" id="schedule" [(ngModel)]="schedule" name="schedule">
        <option>8.30am - 9.30am</option>
        <option>9.30am - 10.30am</option>
        <option>10.30am - 11.30am</option>
        <option>11.30am - 12.30am</option>
        <option>1pm - 2pm</option>
        <option>2pm - 3pm</option>
        <option>3pm - 4pm</option>
      </select>
    </div>
  </form>
</div>


<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBErw8vmvnn_FdCbwVsjz7qmDELxTneGRA&q=Bean+Gallery,NewOrleans+LA"
  allowfullscreen>
</iframe>