<div>
  <img src="logo3.png" alt="Logo" id='logo'>

  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="name">What is your name?</label>
        <input type="email" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" [(ngModel)]="name"
          name="name">
      </div>
      <div class="form-group">
        <label for="address">What is your address?</label>
        <input type="address" class="form-control" id="address" placeholder="Address" [(ngModel)]="address" name="address">
        <small id="addressHelp" class="form-text text-muted">We'll never share your address with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="extra">Tell us a bit about yourself!</label>
        <textarea class="form-control" id="extra" rows="3" [(ngModel)]="extra" name="extra"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" (click)="onSelect()">I'm done!</button>
    </form>
  </div>
</div>