<h1 id='welcome'>{{title}}</h1>

<nav>
  <a routerLink="/dashboard" routerLinkActive="active" *ngIf="authService.authenticated">Dashboard</a>
  <a routerLink="/schedule" routerLinkActive="active" *ngIf="authService.authenticated">Schedule</a>
  <a routerLink="/login" routerLinkActive="active" >Login</a>
  <a routerLink="/signup" routerLinkActive="active">SignUp</a>
  <a routerLink="/person-signup" routerLinkActive="active" *ngIf="authService.authenticated">PersonSignUp</a>
  <a routerLink="/pet-signup" routerLinkActive="active" *ngIf="authService.authenticated">PetSignUp</a>
  <a routerLink="/pet-dashboard" routerLinkActive="active" *ngIf="authService.authenticated">PetDashboard</a>
  <a routerLink="/pet-boolean" routerLinkActive="active" *ngIf="authService.authenticated">PetBoolean</a>
  <a routerLink="/review" routerLinkActive="active" *ngIf="authService.authenticated">Review</a>
  <a routerLink="/chat" routerLinkActive="active" *ngIf="authService.authenticated">Chat</a>
  <a routerLink="/profile" routerLinkActive="active" *ngIf="authService.authenticated">Profile</a>
</nav>
<router-outlet></router-outlet>