<h1 id='welcome'>{{title}}</h1>

<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/schedule" routerLinkActive="active">Schedule</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/signup" routerLinkActive="active">SignUp</a>
  <a routerLink="/person-signup" routerLinkActive="active">PersonSignUp</a>
  <a routerLink="/pet-signup" routerLinkActive="active">PetSignUp</a>
</nav>
<router-outlet></router-outlet>
<!-- <login></login> -->