body {
  background-color: #4d4365;
}

#welcome {
  color: white;
  padding-left: 20px;
}

#signup-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.signup-button {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signup-email-box,
.signup-password-box {
  text-align: center;
}

.signup-email {
  padding-top: 10px;
}

.mission {
  text-align: center;
  color: white;
}

.new-member {
  text-align: center;
  color: white;
  margin-top: 3em;
}

.pet-boolean {
  text-align: center;
  color: white;
  margin-top: 3em;
}

.pet-signup {
  color: white;
  margin-top: 1em;
}

.done-pet-button {
  float: right;
}

.person-signup {
  color: white;
}

.person-done-button {
  float: right;
}
/* Lili adding style */
#schedule #profile {
  color: white;
  font-weight: bold;
  font-size: medium 
}
 #profile {
  color: white;
  font-size: medium 
}
#schedule-box {
  background-color: rgb(64, 32, 73);
  width: 300px;
  border: 10px solid rgb(226, 229, 233);
  padding: 25px;
  margin: 25px;
}

#schedule-box:hover {
  background-color: rgb(201, 137, 10);
}